---
export interface Props {
  title: string;
  description: string;
  side?: "left" | "right";
}

const { title, description, side = "left" } = Astro.props as Props;
---

<div class="pb-10 w-full px-4 md:px-0 sm:max-w-80">
  <h4
    style=`text-align: ${side};`
    class="text-lg pb-4 text-brand-700 font-semibold"
  >
    {title}
  </h4>
  <p
    style=`text-align: ${side};`
    class="text-sm text-secondary-600 font-normal"
  >
    {description}
  </p>
</div>
