---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"input"> {
  label: string;
  name: string;
}

const { label, name, ...props }: Props = Astro.props;
---

<div class="bg-secondary-500 rounded p-2">
  <p>
    <label class="text-secondary-400" for={name}>{label}</label>
  </p>
  <input
    class="bg-transparent text-secondary-200 border-0 focus:border-b-2 focus:border-secondary-200 focus:outline-none"
    id={name}
    name={name}
    {...props}
  />
</div>
